// Colors

$light-grey: #ccc;
$hover-color: #FEDC5A;
$text-color: #CC8B2C;
$hover-color: #546C8C;
$border-color: #75695E;
$nav-color: #E5EFFF;

// Font Stacks
 $amatic: 'Amatic SC', cursive;
 $sketch: 'Cabin Sketch', cursive;